.navbar-brand {
    color: #FFF !important;
}

#ajax-loader {
    margin-top: 50px;
    margin-bottom: 5px;
}

.left {
    text-align: left;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear {
    clear: both
}

#instruction {
    margin-bottom: 12px;
    font-weight: bold;
}