.navbar-brand {
    color: #FFF !important;
}

#ajax-loader {
    margin-top: 75px;
    margin-bottom: 5px;
}

#instruction {
    margin-bottom: 12px;
}

#github-links {
    padding-top: 5px;
}

#review-help {
    padding-top: 5px;
}

#load-count {
    padding-top: 3px;
}

#cache-warning {
    padding-top: 5px;
}

input[type="search"] {
    margin-left: 3px;
}

:-moz-placeholder {
    font-weight: bold;
}
::-webkit-input-placeholder {
    font-weight: bold;
}
::-moz-placeholder {
    font-weight: bold;
}
:-ms-input-placeholder {
    font-weight: bold;
}