.navbar-brand {
    color: #FFF !important;
}

#ajax-loader {
    margin-top: 100px;
    margin-bottom: 5px;
}

.left {
    text-align: left;
}

#instruction {
    margin-bottom: 12px;
    font-weight: bold;
}